APP_URL=https://{{APP_DOMAIN}}/
APP_DOMAIN={{APP_DOMAIN}}
APP_PORT=8000
APP_ENV=local
APP_DEBUG=true
COMPOSE_PROJECT_NAME={{PROJECT_NAME}}
TRAEFIK_HOST=traefik.{{APP_DOMAIN}}
ADMINER_DOMAIN=adminer.{{APP_DOMAIN}}
ENV_SPECIFIC_CERT_NAME=local/cert.pem
ENV_SPECIFIC_KEY_NAME=local/key.pem

# Mail Configuration (add your values)
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Typesense Configuration (optional)
TYPESENSE_API_KEY=xyz123
